# **_This notebook will be used for the Capstone Project in the IBM Data Science Professional Certficate Course_**

In [252]:
import pandas as pd
import numpy as np

print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# **_Segmenting and Clustering Toronto (Part1)_**

In [253]:
#scraping the table from wikipedia and creating a dataframe

df_read = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', match='Postcode', flavor='bs4', header=[0])

df = pd.DataFrame(data=df_read[0])

df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [254]:
#drop boroughs that are 'not assigned'

notassigned = df[df['Borough']=='Not assigned'].index

df.drop(notassigned, inplace = True)

df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [255]:
#combine neighborhoods with similar postalcodes

df = df.groupby(['Postcode', 'Borough'])['Neighborhood'].apply(lambda hood: ', '.join(hood))

df = pd.DataFrame(df).reset_index()

df.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [256]:
#if no neighborhood then use borough


df.loc[df['Neighborhood'] == "Not assigned", 'Neighborhood'] = df['Borough']


df.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [267]:
#inspect the shape of the data and the entire dataframe

print('The shape of the dataframe is (rows, cols):    ', df.shape)

df.head()

The shape of the dataframe is (rows, cols):     (103, 3)

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

# **_Segmenting and Clustering Toronto (Part 2)_**

In [268]:
#download lat and logs from csv

lls = pd.read_csv('http://cocl.us/Geospatial_data')

lls.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [273]:
#join dataframes and 

loc_df = pd.concat([df, lls], axis=1)

loc_df = loc_df.drop(columns='Postal Code')

loc_df.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476